<div class="row">
      <div class="span8.9 well sidebar-nav" >
            <div class="row show-grid">
    <div class="span5"><div class="alert alert-success">
                  <li><a href="#"><p>掳主回</p></a><p id="comment1">的哈觉得回家啊很多看见啊啥的看见啊黑色的卡黑色的卡黑色的卡黑色的看见啊黑色的喀什的卡黑色的颗红色的快速的</p><small class="pull-right"><p>2008-08-25 16:16:54</p></small></li>
                  <br>
             </div></div>
  
  </div>
<div class="row show-grid">
    <div class="span4 offset4 alert alert-info"><li ><a href="#"><p>掳主回复</p></a></li>
                  <br></div>
  </div>